.formBlock .label_inputs {
  font-size: 1.042vw;
  font-family: 'OpenSans-SemiBold';
  font-weight: 400;
  text-transform: uppercase;
}
.formBlock {
  padding: 0.417vw 0;
}
.formBlock input {
  width: 100%;
  padding: 0.521vw 0px;
  margin: 0.417vw 0;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #9297ac;
  color: white;
}
.formBlock input::placeholder {
  color: #9297ac;
  font-size: 0.833vw;
  font-family: 'OpenSans-Regular';
}

.input-feedback {
  color: #c9293d;
  font-size: 0.8vw;
}
