.card-game {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.125rem 1.875rem;
  margin: 3.75rem 15.625rem 0;
}

.card-game img {
  width: 100%;
  border-radius: 20px;
  background-color: #1c294e;
  padding: 2px;
}
.card-game video {
  display: none;
  width: 100%;
  border-radius: 20px;
  background-color: #1c294e;
  padding: 2px;
}

.card-game button {
  font-family: "Bitsumishi";
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px 40px;
  color: #fff;
  background-color: #1c294e;
  border: 0;
  border-radius: 30px;
}

.card-game:hover button {
  z-index: 10;
  bottom: -10px;
  background-image: linear-gradient(to right, #c9293d, #fd334c);
}

.card-game:hover video {
  display: inline;
  margin-top: -20px;
}
.card-game:hover img {
  display: none;
  background-color: #f9314b;
  border: 1px solid #f9314b;
  border-radius: 20px;
  margin-top: -20px;
}

@media screen and (min-width: 1600px) {
  .grid {
    margin: 6.25rem 18.75rem 0;
  }
  .card-game button {
    font-size: 23px;
    padding: 7px 45px;
  }
}

@media screen and (max-width: 1226px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1226px) and (max-width: 1400px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.loader-page {
  text-align: center;
}
.unlockGameModal button {
  margin-top: 50px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  width: 30% !important;
}
.lock img {
  position: absolute;
  width: 20%;
  top: 37%;
  padding-bottom: 8px;
  left: 40%;
}

@media only screen and (max-width: 1300px) {
  .unlockGameModal h2 {
    font-size: 17px !important;
  }
  .unlockGameModal h1 {
    font-size: 25px !important;
  }
  .unlockGameModal button {
    margin-top: 40px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 25% !important;
  }
}
@media (max-width: 1500px) and (min-width: 1301px) {
  .unlockGameModal h2 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
  .unlockGameModal h1 {
    font-size: 30px !important;
    margin-bottom: 70px !important;
  }
  .unlockGameModal button {
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 40% !important;
  }
}

@media (max-width: 1750px) and (min-width: 1601px) {
  .unlockGameModal h2 {
    font-size: 27px !important;
    margin-bottom: 10px !important;
  }
  .unlockGameModal h1 {
    font-size: 40px !important;
    margin-bottom: 70px !important;
  }
  .unlockGameModal button {
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 35% !important;
  }
}

@media (max-width: 1950px) and (min-width: 1751px) {
  .unlockGameModal h2 {
    font-size: 35px !important;
    margin-bottom: 20px !important;
  }
  .unlockGameModal h1 {
    font-size: 50px !important;
    margin-bottom: 70px !important;
  }
  .unlockGameModal button {
    font-size: 35px !important;
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 30% !important;
  }
}
@media only screen and (min-width: 1951px) {
  .unlockGameModal h2 {
    font-size: 35px !important;
    margin-bottom: 20px !important;
  }
  .unlockGameModal h1 {
    font-size: 50px !important;
    margin-bottom: 70px !important;
  }
  .unlockGameModal button {
    font-size: 35px !important;
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 30% !important;
  }
}
