@font-face {
  src: url(../../../Resources/fonts/Poppins-SemiBold.ttf);
  font-family: "Poppins-SemiBold";
}

.logo h1 {
  padding-top: 10px;
  margin-left: 100px;
  color: white;
  font-size: 55px;
  font-family: "Poppins-SemiBold";
}

.red-simbol {
  color: #f9314b;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 27px;
  text-decoration: none;
  font-family:Bitsumishi ;
  font-size: 25px;
}
.navbar li {
  margin-top: 20px;
  float: right;
}  
.navbar ul {
  list-style-type: none;
}

.navbar-button{
  margin-top: 30px;
  font-family:Bitsumishi ;
  font-size: 25px;
  background-image: linear-gradient(to right, #C9293D , #FD334C);
  color: white;
  float: right;
  padding: 5px 30px;
  border-radius: 20px;
  margin-right: 100px;
  margin-left: 27px;
  text-decoration: none;
}
.navbar-button a {
  text-decoration: none;
  color: white;
}