@font-face {
  src: url(../../../Resources/fonts/Poppins-SemiBold.ttf);
  font-family: "Poppins-SemiBold";
}

.logo h1 {
  margin: 12px 0 0 100px;
  color: white;
  font-size: 55px;
  font-family: "Poppins-SemiBold";
}

.logo h1 a {
  color: white;
}

.logo h1 a:link {
  text-decoration: none;
}

.red-simbol {
  color: #f9314b;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 27px;
  text-decoration: none;
  font-family: Bitsumishi;
  font-size: 25px;
}

.navbar li {
  margin-top: 20px;
  float: right;
}

.navbar ul {
  list-style-type: none;
}

.navbar-button {
  font-family: Bitsumishi;
  font-size: 1.7rem;
  background-image: linear-gradient(to right, #c9293d, #fd334c);
  color: white;
  float: right;
  padding: 5px 30px;
  border-radius: 20px;
  margin: 30px 100px 0 27px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-button a {
  text-decoration: none;
  color: white;
}
.unservane_header {
  padding: 0px 30px 10px 10px;
  font-size: 20px;
  font-family: Bitsumishi;
  background-color: #252f5a;
  border: 5px solid #c9293d;
  color: white;
  position: absolute;
  width: 4px;
  left: 0;
  top: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0px 0px 30px 30px;
  border-top: none;
}
.unservane_header p {
  writing-mode: vertical-rl;
  letter-spacing: -8px;
  text-orientation: upright;
}

.navbar-button button {
  text-decoration: none;
  color: white;
}

.navbar-button-logout {
  font-family: Bitsumishi;
  font-size: 1.7rem;
  color: white;
  float: right;
  border-radius: 20px;
  margin: 19px 100px 0 27px;
  text-decoration: none;
  cursor: pointer;
  padding: 9px 27px;
}

.logout-button {
  font-family: Bitsumishi;
  font-size: 1.25vw;
  background-image: linear-gradient(to right, #c9293d, #fd334c);
  color: white;
  padding: 10px 30px;
  border-radius: 1.979vw;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
